/* base.css */

/* Importação dos estilos das diferentes partes da aplicação */
@import 'layout/header.css';
@import 'layout/footer.css';
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'pages/users.css';
@import 'utilities/colors.css';
@import 'utilities/spacing.css';
@import 'utilities/typography.css';
@import 'pages/ratings.css';

/* Estilos globais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #fff; /* Texto branco padrão */
    margin: 0;
    padding: 0;
}

/* Container principal do conteúdo */
#conteiner-principal {
    padding: 20px;
}

/* Links */
a {
    color: #1e90ff; /* Azul claro para links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Títulos e Subtítulos */
h1, h2, h3, h4, h5, h6 {
    color: #888;
    margin: 0;
    padding: 10px 0;
}

/* Estilos de Parágrafo */
p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Classes utilitárias */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

/* Inputs Globais */
input, button, textarea, select {
    font-family: inherit;
    font-size: 1em;
}
