{% extends 'base.html' %}
{% block title %}MyBox - Adicionar Caixa{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center">
    {% if user.is_authenticated and user.profile.is_seller %}
        <div class="card text-white mb-3 w-100" style="background-color: #222;">
            <h1 class="card-header text-center">Adicionar Box como {{ user.username }}</h1>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {{ form.media }}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-secondary w-100">Criar</button>
                </form>
            </div>
        </div>
    {% else %}
        <h2 class="text-center text-warning">Você não tem permissão para adicionar uma Box.</h2>
    {% endif %}
</div>

<div class="text-center mt-4">
    <a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Voltar</a>
</div>
{% endblock %}
