{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card text-white mb-3 w-50" style="background-color: #222;">
        <h1 class="card-header text-center">Mudar senha</h1>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-secondary w-100">Mudar senha</button>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Voltar</a>
</div>

{% endblock %}
