{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}

    
        <br/>
        <br/>
        <div class="card" style="width: 100%;">
            <h1 class="card-header">Edit {{user.username}} Profile Page</h1>
            <div class="card-body">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <!-- <h1>Edit {{user.username}} Profile Page</h1>

        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div> -->


    {% else %}
        <h2> Your account does not have this permission</h2>
    {% endif %}

{% else %}
<h2> You need to be logged in to do this</h2>

{% endif %}


<a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Back</a>
<br/>
<br/>

{% endblock %}