{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center align-items-center">
    {% if user.is_authenticated %}
        {% if user.id == user.id %}
            <div class="card text-white mb-3 w-50" style="background-color: #222;">
                <h1 class="card-header text-center">Editar Perfil de {{ user.username }}</h1>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_username">Usuário:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_first_name">Primeiro nome:</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_last_name">Último nome:</label>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_password">Senha:</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-secondary w-100">Atualizar</button>
                    </form>
                </div>
            </div>
        {% else %}
            <h2 class="text-center">Sua conta não possui essa permissão.</h2>
        {% endif %}
    {% else %}
        <h2 class="text-center">Você precisa estar registrado para fazer isso.</h2>
    {% endif %}
</div>

<div class="text-center mt-4">
    <a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Voltar</a>
</div>

{% endblock %}
