{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Entrar</h2>
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <label for="username">Usuário ou Email</label>
        <input type="text" id="username" name="username" placeholder="Digite seu usuário ou email" required>

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

        <button type="submit">Entrar</button>

        <a href="{% url 'password_reset' %}" class="forgot-password">Esqueceu a senha?</a>
    </form>
</div>
{% endblock %}
