{% extends 'base.html' %}

{% block title %}Registre-se{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Registre-se</h2>

    <!-- Botões para selecionar tipo de usuário -->
    <div class="user-type-selection">
        <button id="seller-btn" class="active">Vendedor</button>
        <button id="buyer-btn">Comprador</button>
    </div>

    <!-- Formulário de Registro -->
    <form method='POST' action="{% url 'users:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <!-- exibir as mensagens de erro e sucesso -->
        <!-- {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %} -->

        <!-- <input type="hidden" id="user_type" name="user_type" value="seller"> -->

        <!-- <div class="form-section">
        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}
        </div> -->

        <!-- Formulário do Vendedor -->
        <!-- <div class="form-section" id="seller-form">
          

            {{ form.store_name.label_tag }}
            {{ form.store_name }}

            {{ form.cnpj.label_tag }}
            {{ form.cnpj }}

            {{ form.cpf.label_tag }}
            {{ form.cpf }}

            {{ form.store_email.label_tag }}
            {{ form.store_email }}

            {{ form.store_phone.label_tag }}
            {{ form.store_phone }}

            {{ form.store_address.label_tag }}
            {{ form.store_address }}

            {{ form.store_description.label_tag }}
            {{ form.store_description }}

            {{ form.logo.label_tag }}
            {{ form.logo }}

            {{ form.background_image.label_tag }}
            {{ form.background_image }}
        </div> -->

        <!-- Formulário do Comprador -->
        <!-- <div class="form-section" id="buyer-form" style="display: none;">
          

            {{ form.first_name.label_tag }}
            {{ form.first_name }}

            {{ form.last_name.label_tag }}
            {{ form.last_name }}

            {{ form.buyer_cpf.label_tag }}
            {{ form.buyer_cpf }}

            {{ form.buyer_email.label_tag }}
            {{ form.buyer_email }}

            {{ form.buyer_phone.label_tag }}
            {{ form.buyer_phone }}

            {{ form.buyer_address.label_tag }}
            {{ form.buyer_address }}

            {{ form.birth_date.label_tag }}
            {{ form.birth_date }}
        </div> -->

        <button type="submit" class="register-button">Registrar</button>
    </form>

    <p class="register-footer">Cadastre-se e viva a experiência MyBox</p>
</div>

<!-- Script para alternar entre formulários de Vendedor e Comprador -->
<script>
    document.getElementById("seller-btn").addEventListener("click", function() {
        document.getElementById("seller-form").style.display = "flex";
        document.getElementById("buyer-form").style.display = "none";
        document.getElementById("seller-btn").classList.add("active");
        document.getElementById("buyer-btn").classList.remove("active");
        document.getElementById("user_type").value = "seller"; // Set hidden input value to "seller"
    });

    document.getElementById("buyer-btn").addEventListener("click", function() {
        document.getElementById("seller-form").style.display = "none";
        document.getElementById("buyer-form").style.display = "flex";
        document.getElementById("buyer-btn").classList.add("active");
        document.getElementById("seller-btn").classList.remove("active");
        document.getElementById("user_type").value = "buyer"; // Set hidden input value to "buyer"
    });
</script>
{% endblock %}
