{% extends 'base.html' %}
{% block title %}Box - add comment{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br/>
<br/>
<div class="card" style="width: 100%; background: #222;">
    <h1 class="card-header">Add comment as {{user.username}}</h1>
    <div class="card-body">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post Comment</button>
            </form>
        </div>
        <script>
            var name = "{{user.username}}";
            document.getElementById("Comment_authorID").value = name;
        </script>
    </div>
  </div>
<br/>
<br/>

{% else %}
<h2> You need to be logged in to do this</h2>

{% endif %}


<a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Back</a>
<br/>
<br/>
{% endblock %}