{% extends 'base.html' %}
{% load static %}
{% block title %}{{box.name}} - {{box.seller.profile.store.store_name}}{% endblock %}

{% block content %}
<style>.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-group input {
  width: 150px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #333;
  background-color: #1c1c1c;
  color: white;
}
</style>
<br/>
<h4>{{box.name}} - {{box.seller.profile.store.store_name}}</h4>
<hr>
<div class="card h-100 shadow-lg d-flex flex-column" style="width:100%; background-color: #222; color: #fff; padding: 50px;">
      <div class="row g-0 h-100">
          <!-- Imagem Quadrada e Centralizada -->
          <div class="col-4 d-flex align-items-center justify-content-center" style="min-height: 150px;">
              {% if box.image_url %}
                  <img 
                      src="{{ box.image_url }}" 
                      alt="{{ box.name }}" 
                      class="img-fluid rounded" 
                      style="width: 300px; height: 300px; object-fit: cover;">
              {% else %}
                  <img 
                      src="{% static 'images/image-placeholder.svg' %}"  
                      alt="{{ box.name }}" 
                      class="img-fluid rounded" 
                      style="width: 300px; height: 300px; object-fit: cover;">
              {% endif %}
          </div>

          <!-- Detalhes do Produto -->
          <div class="col-8 d-flex flex-column justify-content-between">
              <div class="card-body">
                  <h5 class="card-title">
                      <a class='text-decoration-none' href="{% url 'home:box-details' box.pk %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
                          {{ box.name }} 
                      </a>
                       - 
                      {% if box.seller.profile %}
                      <a class='text-decoration-none' href="{% url 'store:store_page' box.seller.id %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
                        {{box.seller.profile.store.store_name}}</a>
                      {% else %}
                          {{ box.seller.profile.store.store_name }}
                      {% endif %}
                  </h5>
                  <span class="badge bg-info text-dark">{{ box.tag }}</span>
                  <p class="card-text">{{ box.description }}</p>
                  <p class="card-text"><strong>R$ {{ box.price }}</strong></p>
              </div>
              {% if user.id == box.seller.id %}
              <div style="flex-direction: column;">
              <a class="btn btn-outline-primary mr-3 mb-3" href="{% url 'store:manage_box' box.id %}" style="width:20%; align-self: flex-end;">Editar</a>
              <a href="{% url 'store:delete_box' box.pk %}" class="btn btn-danger mr-3 mb-3" style="width:20%; align-self: flex-end;">Apagar</a>
              </div>
              {% endif %}
          </div>
      </div>
</div>
<br>

<form method="post" action="{% url 'users:add_to_cart' box.id %}">
  {% csrf_token %}
  <label for="quantity">Quantidade:</label>
  <input type="number" id="quantity" name="quantity" value="1" min="1">

  {% if user.is_authenticated %}
  <div class="button-group">
    <button class="btn btn-outline-primary" type="submit">Adicionar ao Carrinho</button>
  </div>
  {% else %}
    <p>Você precisa estar logado para adicionar o produto no carrinho.</p>
  {% endif %}

</form>
<br>
<br>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}



<hr>
<div class="card text-white mb-2" style="background-color: #222; width: 100%; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if box.seller.profile.store.logo_url %}
        <img src="{{box.seller.profile.store.logo_url}}" class="img-fluid rounded-start" alt="store picture" style="height: 150px; width: 150px;" >
        {% else %}
        <img src="{% static 'images/image-placeholder.svg' %}" class="card-img-top" alt="store picture" style="height: 200px; width: 200px; align-self: auto;">
        {% endif %}
    </div>
      <div class="col-md-10">
        <div class="card-body">
        <h5 class="card-title">
          {% if box.seller.profile %}
          <a class='text-decoration-none' href="{% url 'store:store_page' box.seller.id %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
            {{box.seller.profile.store.store_name}}</a>
          {% else %}
              {{ box.seller.profile.store.store_name }}
          {% endif %}
        </h5>
          {% if box.seller.profile.store.store_description %}
          <p class="card-text">{{box.seller.profile.store.store_description}}</p>
          {% endif %}
          {% if box.seller.profile.address %}
          <small>Localidade: {{ box.seller.profile.address|default:"Não informada" }}</small><br>
          {% endif %}
          {% if  box.seller.profile.store.store_email %}
          <small>Contato: {{ box.seller.profile.store.store_email|default:"Não informado" }}</small><br>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>

  <form action="{% url 'home:submit_review' box.id %}" method="POST">
    {% csrf_token %}
    <h6>Envie sua avaliação de {{box.name}}</h6>
    <div class="rate">
      <!--Rating stars-->
      <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
      <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
      <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
      <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
      <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
      <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
      <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
      <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
      <input type="radio" name="rating" id="rating1" value="1" required><label for="rating2" title="1"></label>
      <input type="radio" name="rating" id="rating0" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
    </div>
    <br>
    {% if user.is_authenticated %}
    <input type="submit" value="Avaliar" class="btn btn-primary btn-sm">
    {% else %}
    Você precisa estar logado para enviar uma avaliação
    {% endif %}
    <br>
    <br>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
  {% endif %}
  </form>

<br>
 
<div class="card text-white mb-2" style="background-color: #333; padding: 20px;">
  <h5>Avaliações</h5>
  <p>Avaliação Média: <strong>{{ average_rating }}</strong> / 5</p>
  <p>Número de Avaliações: <strong>{{ ratings_count }}</strong></p>
  
  {% if user.is_authenticated %}
      {% if user_rating %}
          <p>Sua Avaliação: <strong>{{ user_rating }}</strong> / 5</p>
      {% else %}
          <p>Você ainda não avaliou a Box.</p>
      {% endif %}
  {% else %}
      <p>Você precisa estar logado para ver sua avaliação.</p>
  {% endif %}
</div>


  <hr class="my-4">
  <div class="comments-section">
      <h3 class="text-secondary">Comentários na {{ box.name }}</h3>
      <a href="{% url 'home:add_comment' box.pk %}" class="btn btn-outline-primary btn-sm mb-3">Adicionar Comentário</a>

      {% if not box.comments.all %}
          <p class="text-muted">Ainda Sem Comentários...</p>
      {% else %}
           {% for comment in box.comments.all %} <!--post.comments.all|reverse  -->
              <div class="comment mb-3 p-2 border rounded text-white" style="background: #222;">
                  <strong>{{ comment.name }} | {{ comment.date_added }}</strong>
                  <p class="mb-0">{{ comment.body }}</p>
              </div>
          {% endfor %}
      {% endif %}
  </div>
</div>

<hr>

<br/>
<br/>
<a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Voltar</a>
<br/>
<br/>


{% endblock %}