{% extends 'base.html' %}
{% load static %}
{% block title %}{{box.name}} - {{box.seller.profile.store.store_name}}{% endblock %}

{% block content %}
<br/>
<h4>{{box.name}} - {{box.seller.profile.store.store_name}}</h4>
<hr>
<div class="card h-100 shadow-lg d-flex flex-column" style="width:100%; background-color: #222; color: #fff; padding: 50px;">
      <div class="row g-0 h-100">
          <!-- Imagem Quadrada e Centralizada -->
          <div class="col-4 d-flex align-items-center justify-content-center" style="min-height: 150px;">
              {% if box.image_url %}
                  <img 
                      src="{{ box.image_url }}" 
                      alt="{{ box.name }}" 
                      class="img-fluid rounded" 
                      style="width: 300px; height: 300px; object-fit: cover;">
              {% else %}
                  <img 
                      src="{% static 'images/image-placeholder.svg' %}" 
                      alt="{{ box.name }}" 
                      class="img-fluid rounded" 
                      style="width: 300px; height: 300px; object-fit: cover;">
              {% endif %}
          </div>

          <!-- Detalhes do Produto -->
          <div class="col-8 d-flex flex-column justify-content-between">
              <div class="card-body">
                  <h5 class="card-title">
                      <a class='text-decoration-none' href="{% url 'home:box-details' box.pk %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
                          {{ box.name }} 
                      </a>
                       - 
                      {% if box.seller.profile %}
                      <a class='text-decoration-none' href="{% url 'store:store_page' box.seller.id %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
                        {{box.seller.profile.store.store_name}}</a>
                      {% else %}
                          {{ box.seller.profile.store.store_name }}
                      {% endif %}
                  </h5>
                  <span class="badge bg-info text-dark">{{ box.tag }}</span>
                  <p class="card-text">{{ box.description }}</p>
                  <p class="card-text"><strong>R$ {{ box.price }}</strong></p>
              </div>
              {% if user.id == box.seller.id %}
              <div style="flex-direction: column;">
              <a class="btn btn-outline-primary mr-3 mb-3" href="{% url 'store:manage_box' box.id %}" style="width:20%; align-self: flex-end;">Editar</a>
              <a href="{% url 'store:delete_box' box.pk %}" class="btn btn-danger mr-3 mb-3" style="width:20%; align-self: flex-end;">Apagar</a>
              </div>
              {% endif %}
          </div>
      </div>
</div>

<hr>
<div class="card text-white mb-2" style="background-color: #222; width: 100%; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if box.seller.profile.store.logo_url %}
        <img src="{{box.seller.profile.store.logo_url}}" class="img-fluid rounded-start" alt="store picture" style="height: 150px; width: 150px;" >
        {% else %}
        <img src="{% static 'images/logo-mybox.png' %}" class="card-img-top" alt="store picture" style="height: 200px; width: 200px; align-self: auto;">
        {% endif %}
    </div>
      <div class="col-md-10">
        <div class="card-body">
        <h5 class="card-title">
          {% if box.seller.profile %}
          <a class='text-decoration-none' href="{% url 'store:store_page' box.seller.id %}" style="display: inline-block; transition: transform 0.3s ease;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">
            {{box.seller.profile.store.store_name}}</a>
          {% else %}
              {{ box.seller.profile.store.store_name }}
          {% endif %}
        </h5>
          {% if box.seller.profile.store.store_description %}
          <p class="card-text">{{box.seller.profile.store.store_description}}</p>
          {% endif %}
          {% if box.seller.profile.address %}
          <small>Localidade: {{ box.seller.profile.address|default:"Não informada" }}</small><br>
          {% endif %}
          {% if  box.seller.profile.store.store_email %}
          <small>Contato: {{ box.seller.profile.store.store_email|default:"Não informado" }}</small><br>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


<br/>
<br/>
<a class="btn btn-outline-secondary" href="{% url 'home:home' %}">Back</a>
<br/>
<br/>

{% endblock %}