/* home.css */

/* Container Principal */
.home-container {
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Introdução */
.intro-section {
    margin-bottom: 30px;
}

.intro-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-section p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Produto */
.product-card {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card {
    background-color: #222;
    color: #fff;
}

/* Espaciamento entre linhas e colunas controlado pelo Bootstrap */
