/* header.css */

/* Container principal da header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 100px;
    height: auto;
    max-width: none;
    margin-right: 10px;
}

/* Barra de Pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    background: none;
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-size: 1em;
}

.search-bar input::placeholder {
    color: #ccc;
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px;
}

.search-bar button img {
    width: 20px;
}

/* Ícone do Carrinho */
.cart-icon img {
    width: 30px;
    cursor: pointer;
}

/* Botões de Login e Inscrição */
.auth-buttons button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.auth-buttons button:hover {
    background-color: #777;
}

/* Ícone do Usuário */
.user-icon {
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
