{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | MyBox
    </title>

    <!-- Link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Link para o CSS principal que importa os outros arquivos de estilo -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    
</head>

<header class="sticky-top" style="background-color: #222; color: #fff;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img src="{% static 'images/logo-mybox.png' %}" alt="MyBox Logo" width="120">
            </a>

            <!-- Botão Toggle para menu colapsável -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Itens da Header -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav w-100 d-lg-flex align-items-center justify-content-between">
                    <!-- Barra de Pesquisa -->
                    <form class="d-flex mx-auto my-2 my-lg-0 w-50">
                        <input class="form-control me-2" type="search" placeholder="Procure sua Loja ou Box favorita" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">
                            <img src="{% static 'images/lupa-branca.png' %}" alt="Buscar" width="20">
                        </button>
                    </form>

                    <!-- Ícone do Carrinho -->
                    <a href="#" class="nav-link text-center text-white mx-lg-3">
                        <img src="{% static 'images/carrinho-compras-branco.png' %}" alt="Carrinho" width="30">
                    </a>

                    <!-- Botões de Autenticação -->
                    <div class="d-flex flex-wrap">
                        {% if user.is_authenticated %}
                            <a href="{% url 'users:logout' %}" class="btn btn-outline-light me-2 mb-2">Logout</a>
                            {% if user.profile.is_seller %}
                                <a href="{% url 'store:add_box' %}" class="btn btn-outline-success mb-2">Add Box</a>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-outline-light me-2 mb-2" onclick="window.location.href='{% url 'users:login' %}'">Entrar</button>
                            <button class="btn btn-outline-light mb-2" onclick="window.location.href='{% url 'users:register' %}'">Inscrever</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>


<body>
    <main id="conteiner-principal">
        <!-- Conteúdo principal -->
        {% block content %}{% endblock content %}
    </main>
    
    <footer>
        <div class="footer-container">
            <!-- Seção de Redes Sociais e Logo -->
            <div class="footer-social">
                <div class="social-icons">
                    <a href="#"><img src="{% static 'images/logo-x-branco.png' %}" alt="X"></a>
                    <a href="#"><img src="{% static 'images/instagram-branco.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'images/linkedin-branco.png' %}" alt="LinkedIn"></a>
                </div>
                <div class="footer-logo">
                    <a href="{% url 'home:home' %}">
                        <img src="{% static 'images/logo-mybox.png' %}" alt="MyBox Logo">
                </div>
            </div>

            <!-- Seções de Links -->
            <div class="footer-links">
                <div class="footer-column">
                    <h4>Contatos</h4>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem ipsum est</a></li>
                        <li><a href="#">Lorem ipsum est is</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Recursos</h4>
                    <ul>
                        <li><a href="#">Lorem Ipsum est</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum est is</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Informações</h4>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem is</a></li>
                        <li><a href="#">Lorem ipsum est</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap Bundle com JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
