{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | MyBox
    </title>
    <!-- Link para o CSS principal que importa os outros arquivos de estilo -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <div class="header-container">
            <!-- Logo -->
            <div class="logo">
                <img src="{% static 'images/logo-mybox.png' %}" alt="MyBox Logo" width="200" height="auto">
                <span></span>
            </div>
    
            <!-- Barra de Pesquisa -->
            <div class="search-bar">
                <input type="text" placeholder="Procure sua Loja ou Box favorita">
                <button type="submit">
                    <img src="{% static 'images/lupa-branca.png' %}" alt="Buscar">
                </button>
            </div>
    
            <!-- Ícone do Carrinho -->
            <div class="cart-icon">
                <img src="{% static 'images/carrinho-compras-branco.png' %}" alt="Carrinho">
            </div>
    
            <!-- Botões de Entrar e Inscrever -->
            <div class="auth-buttons">
                <button onclick="window.location.href='{% url 'users:login' %}'">Entrar</button>
                <button onclick="window.location.href='{% url 'users:register' %}'">Inscrever</button>
            </div>
    
            <!-- Ícone do Perfil do Usuário -->
            <div class="user-icon">
                <span>User</span>
            </div>
        </div>
    </header>

    <main id="conteiner-principal">
        <!-- Conteúdo principal -->
        {% block content %}{% endblock content %}
    </main>
    
    <footer>
        <div class="footer-container">
            <!-- Seção de Redes Sociais e Logo -->
            <div class="footer-social">
                <div class="social-icons">
                    <a href="#"><img src="{% static 'images/logo-x-branco.png' %}" alt="X"></a>
                    <a href="#"><img src="{% static 'images/instagram-branco.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'images/linkedin-branco.png' %}" alt="LinkedIn"></a>
                </div>
                <div class="footer-logo">
                    <img src="{% static 'images/logo-mybox.png' %}" alt="MyBox Logo">
                </div>
            </div>

            <!-- Seções de Links -->
            <div class="footer-links">
                <div class="footer-column">
                    <h4>Contatos</h4>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem ipsum est</a></li>
                        <li><a href="#">Lorem ipsum est is</a></li>
                        <li><a href="#">Lorem est</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem ipsum est is</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Recursos</h4>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Best practices</a></li>
                        <li><a href="#">Colors</a></li>
                        <li><a href="#">Color wheel</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Resource library</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Informações</h4>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem is</a></li>
                        <li><a href="#">Lorem ipsum est</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem ipsum est is</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum est</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
